body {
    background-color: pink;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    color: red;
    font-size: 3em;
}

.envelope {
    width: 250px;
    height: 180px;
    background-color: #ffccbc;
    border-radius: 10px;
    cursor: url('heart_cursor.gif'), auto;
}

.gif-list{
    list-style: none;
}

.gif-list li::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url('bulletpoint.gif'); /* Replace with your GIF file */
    background-size: cover;
    margin-right: 10px;
}